@model BoardGamesRankingTracker.Models.PlayerViewModel
@{
    ViewBag.Title = "Profile";
}


<h2>@ViewBag.Title</h2>

<div class="container player-frame text-center text-center">
    <div class="row border justify-content-center">
        <div class="col-4">
            <h4>img</h4>
            <img src="" />
        </div>
        <div class="col-8">
            <h4>@Html.ValueFor(m => m.Nickname)</h4>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()
@using (Html.BeginForm())
{
    <div class="container form">
        <div class="form-group">
            <label for="gameType">Gametype</label>
            <select class="form-control" name="currentFilter" id="gameType" aria-describedby="gameHelp" placeholder="Enter Player Nickname">
                @foreach (var type in Model.RankingPoints)
                {
                    if (Model.SelectedGame == type.Key.ToString())
                    {
                        <option selected>@type.Key.ToString()</option>
                    }
                    else
                    {
                        <option>@type.Key.ToString()</option>
                    }

                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" />
        </div>

    </div>
}

<div class="playerstat-table">
    <table class="table table-light">
        <thead>
            <tr>
                <td>Joined</td>
                <td>Games Played</td>
                <td>Rating</td>
                <td>W / L / T</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.JoinedOn.ToShortDateString() </td>
                <td>@Model.GamesPlayed[Model.SelectedGame]</td>
                <td>@Model.RankingPoints[Model.SelectedGame] </td>
                <td>
                    @Model.GamesWon[Model.SelectedGame] /
                    @Model.GamesLost[Model.SelectedGame] /
                    @Model.GamesTied[Model.SelectedGame]
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container playermatches-table">
    <h3>Completed Games</h3>
    <div class="container">
        <div class="row matches-head">
            <div class="col">    <h4>Players</h4>    </div>
            <div class="col">    <h4>Result</h4>    </div>
            <div class="col">    <h4>Date</h4>    </div>
        </div>
        <div class="matches-body">
            <div class="row matches-row border">
                <div class="col">
                    <div class="row">
                        <div class="col-12">    <h6>Nick1 (Ranking1)</h6>    </div>
                        <div class="col-12">    <h6>Nick2 (Ranking2)</h6>    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12">    <h6>1</h6>    </div>
                        <div class="col-12">    <h6>0</h6>    </div>
                    </div>
                </div>

                <div class="col align-self-center">

                    <div class="col-12">    <h6>DATE</h6>    </div>

                </div>

            </div>
            <div class="row matches-row">
                <div class="col">
                    <div class="row">
                        <div class="col-12">    <h6>Nick3 (Ranking3)</h6>    </div>
                        <div class="col-12">    <h6>Nick4 (Ranking4)</h6>    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12">    <h6>1</h6>    </div>
                        <div class="col-12">    <h6>0</h6>    </div>
                    </div>
                </div>

                <div class="col align-self-center">

                    <div class="col-12">    <h6>DATE</h6>    </div>

                </div>

            </div>
            <div class="row matches-row">
                <div class="col">
                    <div class="row">
                        <div class="col-12">    <h6>Nick5 (Ranking5)</h6>    </div>
                        <div class="col-12">    <h6>Nick6 (Ranking6)</h6>    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12">    <h6>1</h6>    </div>
                        <div class="col-12">    <h6>0</h6>    </div>
                    </div>
                </div>

                <div class="col align-self-center">

                    <div class="col-12">    <h6>DATE</h6>    </div>

                </div>

            </div>

        </div>

        <div class="row matches-footer justify-content-center">
            <nav>
                <ul class="pagination ">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>
